body {
	font-family: 'Poppins', sans-serif;
	color: #dedede;
	background: #222;
	font-size: 1.2em;
	margin: 1em;
}

.app-header {
	margin: -0.5em -0.5em 0em -1em;
	padding: 1em;
	background: #111;
	color: #dedede;
}

label {
	display: table; /* block formatting, with a minimum width */
}

a {
	color: inherit;
}

.dice {
	background:white;
	margin: 1em;
	border-radius: 1em;
	border: 6px #222222 solid;
}

.selected {
	border: 6px green solid;
}

.rerollButton {
	background-color: green;
	border-color: green;
	color: #ffffff;
	height: 2.5em;
	border-radius: 0.5em
}
